@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

$family-sans-serif: "Nunito" , sans-serif;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: nome;

html, body {
    height: 100vh;
}

html {
    background-color: white;
    background-size: cover;
}