<div class="kanban-row">
  <div class="card-box">
    <h1>Titulo</h1>
    <ul class="padding-0 margin-0">
      <div class="post-it-card">
        <p>Teste</p>
      </div>
      <div class="post-it-card">
        <p>Teste</p>
      </div>
      <div class="post-it-card">
        <p>Teste</p>
      </div>
      <div class="post-it-card">
        <p>Teste</p>
      </div>
    </ul>
  </div>

  <div class="card-box">
    <h1>Titulo</h1>
    <ul class="padding-0 margin-0">
      <div class="post-it-card">
        <p>Teste</p>
      </div>
      <div class="post-it-card">
        <p>Teste</p>
      </div>
      <div class="post-it-card">
        <p>Teste</p>
      </div>
      <div class="post-it-card">
        <p>Teste</p>
      </div>
    </ul>
  </div>

  <div class="card-box">
    <h1>Titulo</h1>
    <ul class="padding-0 margin-0">
      <div class="post-it-card">
        <p>Teste</p>
      </div>
      <div class="post-it-card">
        <p>Teste</p>
      </div>
      <div class="post-it-card">
        <p>Teste</p>
      </div>
      <div class="post-it-card">
        <p>Teste</p>
      </div>
    </ul>
  </div>
</div>
