<div class="kanban-row">
  <div>
    <div class="top-color">
      <h1>{{toDo}}</h1>
    </div>
    <div class="card-box">
      <ul class="padding-0 margin-0" *ngFor="let toDo of toDoList; let i = index">
        <div class="post-it-card"><p>{{toDo}}</p>
          <mat-icon class="mat-icon-from-card edit-card" (click)="editToDo(i)">edit</mat-icon>
          <mat-icon class="mat-icon-from-card delete-card" (click)="deleteToDo(i)">delete</mat-icon>
        </div>
      </ul>
      <div>
        <div>
          <button class="addition"  (click)="addtoDo()">
            <p class="small-p">{{addCard}}<mat-icon>add</mat-icon></p>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="top-color">
      <h1>{{doing}}</h1>
    </div>
    <div class="card-box">
      <ul class="padding-0 margin-0" *ngFor="let doing of doingList; let i = index">
        <div class="post-it-card"><p>{{doing}}</p>
          <mat-icon class="mat-icon-from-card edit-card" (click)="editDoingList(i)">edit</mat-icon>
          <mat-icon class="mat-icon-from-card delete-card" (click)="deleteDoingList(i)">delete</mat-icon>
        </div>
      </ul>
      <div>
        <div>
          <button class="addition" (click)="addDoingList()">
            <p class="small-p"> {{addCard}}<mat-icon>add</mat-icon></p>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="top-color">
      <h1>{{done}}</h1>
    </div>
    <div class="card-box">
      <ul class="padding-0 margin-0" *ngFor="let done of doneList; let i = index">
        <div class="post-it-card">
          <p>{{done}}</p>
          <mat-icon class="mat-icon-from-card edit-card" (click)="editDoneList(i)">edit</mat-icon>
          <mat-icon class="mat-icon-from-card delete-card" (click)="deleteDoneList(i)">delete</mat-icon>
      </div>
      </ul>
      <div>
        <div>
          <button class="addition" (click)="addDoneList()">
            <p class="small-p">{{addCard}}<mat-icon>add</mat-icon></p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>