:root {
    --marginForContainer: 0;
}

.card-box {
    padding: 1em;
    padding-top: 0;
    margin: var(--marginForContainer);
    max-width: 350px;
    height: auto;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5em;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: 0;
}

.post-it-card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.5em;
    margin: 1em;
    margin-bottom: 0;
    border-radius: 0.5em;
    width: 300px;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;

    & p {
        margin-left: 0.8em;
        margin-right: 0.8em;
    }
}

.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}

h1 {
    font-size: 1.4em;
    color: #ffffff;
    text-align: center;
}

.kanban-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}

.top-color {
    background-color: #fab700;
    max-width: 365px;
    margin: var(--marginForContainer);
    margin-bottom: 0em;
    margin-top: 2em;
    padding: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.display-background-kanban {
    // display: ;
}

.addition {
    width: 300px;
    margin: 1.5em;
    border: 0px;
    border-radius: 0.5em;
    padding: 0.5em;
    transition: 0.3s;
}

.addition:hover {
    background-color: #fab700;
    color: #ffffff;
}

.small-p {
    font-size: 1em;
    gap: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-icon-from-card{
    padding-right: 1em;
    font-size: 1.25em;
    margin-top: 0.2em;
}

.delte-card{
    padding-right: 1em;
    font-size: 1.25em;
    margin-top: 0.2em;
    transition: 0.3s;
}

.delete-card:hover{
    color: #fa0036;
    transition: 0.3s;
}

.edit-card{
    padding-right: 1em;
    font-size: 1.25em;
    margin-top: 0.2em;
    transition: 0.3s; 
}

.edit-card:hover{
    color: #fab700;
    transition: 0.3s;
}