<div class="kanban-row">
  <div>
    <div class="top-color">
      <h1>Titulo</h1>
    </div>
    <div class="card-box">
      <ul class="padding-0 margin-0">
        <div class="post-it-card">
          <p>Teste</p>
        </div>
        <div class="post-it-card">
          <p>Teste</p>
        </div>
        <div class="post-it-card">
          <p>Teste</p>
        </div>
        <div class="post-it-card">
          <p>Teste</p>
        </div>
      </ul>
      <div>
        <div>
          <button class="addition">
            <p class="small-p">
              Add Card<mat-icon>add</mat-icon>
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="top-color">
      <h1>Titulo</h1>
    </div>
    <div class="card-box">
      <ul class="padding-0 margin-0">
        <div class="post-it-card">
          <p>Teste</p>
        </div>
        <div class="post-it-card">
          <p>Teste</p>
        </div>
        <div class="post-it-card">
          <p>Teste</p>
        </div>
      </ul>
      <div>
        <div>
          <button class="addition">
            <p class="small-p">
              Add Card<mat-icon>add</mat-icon>
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="top-color">
      <h1>Titulo</h1>
    </div>
    <div class="card-box">
      <ul class="padding-0 margin-0">
        <div class="post-it-card">
          <p>Teste</p>
        </div>
        <div class="post-it-card">
          <p>Teste</p>
        </div>
        <div class="post-it-card">
          <p>Teste</p>
        </div>
        <div class="post-it-card">
          <p>Teste</p>
        </div>
        <div class="post-it-card">
          <p>Teste</p>
        </div>
        <div class="post-it-card">
          <p>Teste</p>
        </div>
      </ul>
      <div>
        <div>
          <button class="addition">
            <p class="small-p">
              Add Card<mat-icon>add</mat-icon>
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>