.card-box{
    padding: 1.25em;
    padding-bottom: 4em;;
    margin: 2em;
    max-width: 365px;
    height: clamp(400px,500px,800px);
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5em;
}

.post-it-card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.5em;
    margin: 1em;
    border-radius: 0.5em; 
    width: clamp(200px, 300px, 325px);
    height: auto;
    word-wrap: break-word; /* Permite quebra de palavras longas */
    overflow-wrap: break-word; /* Para suportar navegadores mais antigos */

    & p{
        margin-left: 0.8em;
    }
}

.padding-0{
    padding: 0;
}

.margin-0{
    margin: 0;
}

h1{
    font-size: 1.5em;
}

.kanban-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}